<h6>External Tools</h6>
<p>
    <a href="https://scholar.google.com.ph/scholar?q={{ search }}" class="btn btn-secondary">Google Scholars</a>
    <a href="https://www.researchgate.net/search?q={{ search }}" class="btn btn-secondary">Research Gate</a>
</p>